:root {
    --bg-color: #222;
    --first-color: rgb(253, 116, 108);
    --second-color: rgb(255, 144, 104);
}

body {
    background: var(--bg-color);
    color: white;
    font-family: 'Raleway', sans-serif;
    letter-spacing: .25rem;
    margin: 0;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.color-pickers {
    display: flex;
    align-items: center;
    margin: 35px;
    font-size: 1rem;
}

.color-pickers input {
    margin: 3px;
    cursor: pointer;
}

.breathe-bubble {
    width: 200px;
    height: 200px;
    line-height: 200px;
    border-radius: 50%;
    border: none;
    background: radial-gradient(var(--second-color), var(--first-color));
    color: black;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    animation: breathe 4s ease-in-out alternate infinite;
}

@keyframes breathe {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}
