:root {
    --white-primary:rgb(255, 255, 255);
    --black-primary: rgb(51, 51, 51);
    --bubble-primary: rgb(255, 144, 104);
    --bubble-secondary: rgb(253, 116, 108);
}

body {
    margin: 0;
    color: var(--white-primary);
    font-family: Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color-pickers {
    display: flex;
    align-items: center;
    margin: 35px;
    color: var(--black-primary);
    font-size: 1rem;
}

.color-pickers input {
    margin: 3px;
    cursor: pointer;
}

.breathe-bubble {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: none;
    background: radial-gradient(var(--bubble-primary), var(--bubble-secondary));
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 200px;
    letter-spacing: .125rem;
    text-align: center;
    animation: breathe 4s ease-in-out alternate infinite;
}

@keyframes breathe {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.4);
    }
}
